<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ol>
    <li>Lombok & Logger 사용
        <ul>
            <li><a href="lom/logger">Logger 사용</a></li>
            <li><a href="lom/lombok">Lombok 사용</a></li>
        </ul>
    </li>

    <li> 서버와 값 주고 받기
        <ul>
            <li><a href="param/view1">Get method로 parameter 전달</a></li>
            <li><a href="param/view2">Post method로 parameter 전달</a></li>
            <li><a href="param/view3">Post method로 parameter 전달 - 객체</a></li>
            <li><a href="param/input4?name=abc&age=11">Get method로 parameter 전달 - Form없이</a></li>
            <li><a href="param/input4">Get method로 parameter 전달 - 파라미터가 없는 경우</a></li>
            <li><a href="param/model">model 사용하기</a></li>
        </ul>
    </li>
</ol>
</body>
</html>