/* 태그선택자: 1(특잇값) */
/* 유니버설 속성은 사용을 권장하지 않음, 태그의 기본 스타일을 초기화하는 용으로 사용 */
@charset "UTF-8";

* {
    font-size: 20px;
}

body {
    background-color: #efefef;
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

p {
    color: blue;
    /* 색상명, 16진수(#ff0000, #f00), rgb(255, 0, 0), rgba(255,0,0, 0), hsl(x) */
}

/* 태그선택자: 2(특잇값) */
p span {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    background-color: black;
}

pre {
    font-family: '맑은 고딕', 'Times New Roman', Times, serif;
}

/* 특잇값: 102  */
ul>li#listitem {
    text-decoration: underline;
}

/* 특잇값: 12  */
ul>li.item {
    background-color: plum;
}


ul>li.box {
    font-weight: bolder;
    font-size: 1.1em;
}

input[type="password"]:hover {
    background-color: blueviolet;
}