<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Sign Up</h1>
    <form th:action="@{/signup}" method="post">
        <div>
            <label>Username: <input type="text" name="username" required/></label>
        </div>
        <div>
            <label>Password: <input type="password" name="password" required/></label>
        </div>
        <div>
            <label>Nickname: <input type="text" name="nickname" required/></label>
        </div>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
