<!DOCTYPE html>
<!--
    타임리프를 사용하기 위한 네임스페이스
    - 네임스페이스는 이름 충돌을 방지하고 XML 문서 내에서 요소와 속성을 고유하게 식별할 수 있도록 도와주는 XML 표준 속성.
    - 이를 통해 문서 내에서 th 접두사가 붙은 요소나 속성이 Thymeleaf의 템플릿 기능과 관련이 있음을 명확히 정의
-->
<html xmlns:th="thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Thymelead 사용2</h2>

    <h3>list, map</h3>
    <p th:text="${#lists.size(list)}"></p>
    <p th:text="${#lists.contains(list, 'CSS')}"></p>
    <p th:text="${#maps.size(map)}"></p>
    <p th:text="${#maps.containsKey(map, 'name')}"></p>

    <h3>제어문</h3>
    <div th:if="${str == '문자열'}">true인 경우 보이는 태그</div>
    <div th:unless="${str == '문자열'}">false인 경우 보이는 태그</div>

    <div th:switch="${num}">
        <p th:case="1">하나</p>
        <p th:case="2">둘</p>
        <p th:case="3">셋</p>
        <p th:case="*">그 밖의 숫자</p>
    </div>

    <h3>반복문</h3>
    <table>
        <!-- item은 리스트에서 꺼내온걸 담아주는 변수임 그냥 붙이고 싶은 변수명 아무거나 입력하면 됨 -->
        <!-- i는 요소의 정보가 들어있는 객체임 자동으로 생성됨 -->
        <tr th:each="item : ${list}">
            <td style="border:1px solid black">
                <span th:text="${item}"></span>
            </td>
        </tr>
    </table>

    <table>
        <!-- item은 리스트에서 꺼내온걸 담아주는 변수임 그냥 붙이고 싶은 변수명 아무거나 입력하면 됨 -->
        <!-- i는 요소의 정보가 들어있는 객체임 자동으로 생성됨 -->
        <tr th:each="item, i : ${list}">
            <td style="border:1px solid black">
                <span th:text="${item}"></span>
                <span th:text="${i.index}"></span>
            </td>
        </tr>
    </table>

    <table>
        <!-- item은 리스트에서 꺼내온걸 담아주는 변수임 그냥 붙이고 싶은 변수명 아무거나 입력하면 됨 -->
        <!-- i는 요소의 정보가 들어있는 객체임 자동으로 생성됨 -->
        <tr th:each="item, i : ${list}">
            <td style="border:1px solid black">
                <span th:text="${item}"></span>
                <span th:text="${i.index}"></span>
            </td>
        </tr>
    </table>

    <p>1. 일반 문장으로 반복</p>
    <p th:each="s : ${list}" th:text="${s}"></p>

    <p>2. 태그 없이 반복</p>
    <th:block th:each="s : ${list}" th:text="${s}"></th:block>

    <p>3. 맵의 모든 값을 출력</p>
    <table>
        <tr th:each="item : ${map}">
            <td>
                <span th:text="${item.key}"></span>
            </td>
            <td>
                <span th:text="${item.value}"></span>
            </td>
        </tr>
    </table>

    <p>4. 맵의 특정 값을 읽을때</p>
    <p th:text="${map.product}"></p>
    <p th:text="${map.price}"></p>

<!--
    index   현재 반복 인덱스(0부터 시작)
    count   현재 반복 인덱스(1부터 시작)
    size    총 요소 개수
    current 현재 요소
    even    현재 반복이 짝수인지 여부(boolean)
    odd     현재 반복이 홀수인지 여부
    first   현재 반복이 첫번째인지 여부
    last    현재 반복이 마지막인지 여부
 -->

    <th:block th:each="n, status : ${#numbers.sequence(1, 5, 1)}">
        <p>숫자
            <span th:text="${status.index}"></span>
            <span th:text="${status.count}"></span>
            <span th:text="${status.size}"></span>
            <span th:text="${status.even}"></span>
            <span th:text="${status.odd}"></span>
            <span th:text="${status.first}"></span>
            <span th:text="${status.last}"></span>
            <span th:text="${n}"></span>
        </p>
    </th:block>
    <!-- 1~5까지 출력 -->
    <th:block th:each="n : ${#numbers.sequence(1, 5, 1)}">
        <span th:text="${n}"></span>
        <span>, </span>
    </th:block>
<br>
    <!-- 1,2,3,4,5 형태로 출력 -->
    <th:block th:each="n, status: ${#numbers.sequence(1, 5, 1)}">
        <span th:text="${n}"></span>
        <span th:unless="${status.last}">, </span> <!-- 마지막 요소가 아니면 : 콤마를 찍겠다 -->
    </th:block>


</body>
</html>