<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/loginForm.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

    <!-- 상단 메뉴 - fragment -->
    <div th:replace="~{layout/header :: header}"></div>

    <div class="container">
        <h1>로그인</h1>

        <form th:action="@{login}" method="post">
            <label for="id">ID</label>
            <input type="text" name="id" id="id" required th:value="${recentId}">
            <label for="pw">PW</label>
            <input type="password" name="pw" id="pw" required>
            <label><input type="checkbox" name="check" value="true">ID기억하기</label>
            <input type="submit" value="로그인">
        </form>
    </div>

</body>
</html>